@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="grid grid--container">
    <div class="row row--sm-h-center">
        <div class="col col--xl-7 col--lg-8 col--md-9 col--sm-11">
          
            <div class="content">
                <p><strong>Last Updated 9/12/2017</strong></p>
                <p>We understand and share your concern about privacy. We want to assure you that Raffel Systems respects your privacy and treats your personal information with the highest standards of safety, security,&nbsp;and confidentiality. To better protect your privacy, we've provided this notice explaining our online information practices and the choices you can make about the way your information is collected and used.</p>
                <p>Raffel Systems reserves the right to change, modify, add&nbsp;or remove portions of this policy at any time. Any changes will be posted in this document and will become effective immediately upon being posted unless we tell you otherwise.</p>
                <p>If you have questions regarding this policy, email <a href="mailto:customerservice@raffel.com">customerservice@raffel.com</a>.<br><br></p>
                <p><strong>WHAT TYPE OF INFORMATION DOES RAFFEL SYSTEMS COLLECT?</strong></p>
                <p>Our goal is to provide you with a safe and productive online experience. When we collect information about you, it is in an effort to make our products and services more efficient and customized to you. You are free to browse the Raffel Systems site without revealing any personal information about yourself. However, once you give us your personal information, you are not anonymous to us.</p>
                <p>We may collect the following information from you:</p>
                <ul>
                    <li>First and last name</li>
                    <li>Address</li>
                    <li>Company/industry</li>
                    <li>Contact information</li>
                </ul>
                <p>We use information that we collect about you or that you provide to us, including any personal information, to present our website and its contents to you, provide you with information, products, or services that you request from us, to carry out our obligations and enforce our rights arising from any contracts entered into between you and us, notify you about changes to our website or any products or services we offer or provide though it and fulfill any other purpose for which you provide it.</p>
                <p><strong><br>AUTOMATIC INFORMATION</strong></p>
                <p>As you navigate through and interact with our website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including details of your visits to our website, other communication data and the resources that you access and use on the website, information about your computer and internet connection, including your IP address, operating system, and browser type. This information may not include personal information, but it may be associated with other information to improve the website and deliver a better, more personalized service.</p>
                <p>We collect this information directly from you when you provide it to us and automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookie and other common tracking technologies, like Google Analytics.</p>
                <p><strong><br>WHAT ABOUT COOKIES?</strong></p>
                <p>"Cookies" are small pieces of information that a website will store on your computer’s hard drive. Raffel Systems will use cookies to identify you during your session, make our services easier to use, and to store items in your shopping cart between visits. Cookies are never used to store sensitive customer information such as names, addresses, credit-card numbers,&nbsp;or passwords. Acceptance of cookies is not a requirement to browse our site. Most browsers automatically accept cookies, but you can configure your browser to prevent them.</p>
                <p><strong><br>DOES RAFFEL SYSTEMS SHARE THE INFORMATION IT RECEIVES?</strong></p>
                <p>Like many site operators, we collect information that your browser sends whenever you visit our site. This data may include information such as your computer's internet protocol ("IP") address, browser type, browser version, the pages of our site that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
                <p>We require this information to understand your needs and provide you with a better service. Specific uses may include:</p>
                <ul>
                    <li>Internal recordkeeping</li>
                    <li>Improving products and services</li>
                    <li>Periodically sending promotional emails about new products, special offers, or other information we think you may find useful or interesting</li>
                    <li>Customizing the website according to your interests</li>
                </ul>
                <p>We will never sell your information.<br><br></p>
                <p><strong>DATA SECURITY</strong></p>
                <p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers behind firewalls.</p>
                <p>The security of your personal information is important to us, but remember that no method of transmission over the internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
                <p><strong><br>CONTACT INFORMATION</strong></p>
                <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at:&nbsp;</p>
                <p>Raffel Systems<strong><br> </strong>N112 W14600 Mequon Road<br> Germantown, WI 53022</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>