@page
@model Raffel_Web.Pages.ProjectView.ProjectCard.ScopeAndRev.Revisions.CreateModel
@using Microsoft.AspNetCore.Identity
@using Raffel_Web.Areas.Identity.Data
@inject SignInManager<Raffel_WebUser> SignInManager
@inject UserManager<Raffel_WebUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Revision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Revision.LEAD_NUMBER" class="control-label"></label>
                <input asp-for="Revision.LEAD_NUMBER" type="text" value=@Model.LEAD readonly />

                <span asp-validation-for="Revision.LEAD_NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revision.DATE_ENTERED" class="control-label"></label>
                <input asp-for="Revision.DATE_ENTERED" type="text" value="@DateTime.Now" readonly />
                <span asp-validation-for="Revision.DATE_ENTERED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revision.REV_DETAILS" class="control-label"></label>
                <textarea asp-for="Revision.REV_DETAILS" rows="10" cols="80" class="form-control"></textarea><br>
                <span asp-validation-for="Revision.REV_DETAILS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revision.ENTERED_BY" class="control-label"></label>
                <input asp-for="Revision.ENTERED_BY" class="form-control" value=@UserManager.GetUserName(User) readonly />
                <span asp-validation-for="Revision.ENTERED_BY" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
